{
  "extends": ["next", "next/core-web-vitals", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "import/no-unresolved": "error",
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": false,
        "allowArrowFunction": false,
        "allowAnonymousClass": false,
        "allowAnonymousFunction": false,
        "allowCallExpression": false, // backward compatibility -> e.g. export default foo(bar)
        "allowNew": false,
        "allowLiteral": false,
        "allowObject": true,
      },
    ],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
}
